$text-color:#4b5563;
$bg-color: #ffffff;

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: $bg-color; 
    color: $text-color;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;

    
    &.compacted {
      transform: translateX(-80%);
      margin-right: -200px;

      .sidebar-nav{
        display: none;
      }
    }
  
    .sidebar-header {
      font-size: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      .toggle-btn {
        background: none;
        border: none;
        font-size: 22px;
        color: $text-color;
        cursor: pointer;
        
      }

    }
  
    .sidebar-nav {

      li {
        a {
          display: block;
          padding: 15px 20px;
          color: $text-color;
          font-size: 16px;
          transition: background-color 0.3s ease-in-out;

          &:hover {
            background-color: #edf1f7;
          }

          &.active{
           background-color: #becfec;
           font-weight: 500;
        }
        }


      }
    }
  }


@media (max-width:768px ) {

  .sidebar{
    width: 100%;
    height: auto;
    flex-direction: column;
    
    .sidebar-header{
      h2{
        display: none
      }
    }
    &.compacted{
      transform: translateY(0);
      margin-right: 0;
      height: 50px
      
    }
  };
}